.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 97.1986em 2034.5em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.arrow-down:before {
      background-position: 0em 0em;
      width: 12.9em;
      height: 12.9em;
  }




  .icon.arrow-down-fat:before {
      background-position: 0em -12.9em;
      width: 45.1847em;
      height: 45.1847em;
  }




  .icon.arrow-left:before {
      background-position: 0em -58.1em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-left-fat:before {
      background-position: 0em -105.9em;
      width: 49.2em;
      height: 49.2em;
  }




  .icon.arrow-right:before {
      background-position: 0em -155.1em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-right-fat:before {
      background-position: 0em -202.9em;
      width: 49.2004em;
      height: 49.2004em;
  }




  .icon.arrow-up:before {
      background-position: 0em -252.2em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.arrow-up-fat:before {
      background-position: 0em -258.6em;
      width: 45.1847em;
      height: 45.1846em;
  }




  .icon.basket:before {
      background-position: 0em -303.8em;
      width: 4.8em;
      height: 4.8em;
  }




  .icon.cancel:before {
      background-position: 0em -308.6em;
      width: 47.519999999999996em;
      height: 47.519999999999996em;
  }




  .icon.card:before {
      background-position: 0em -356.2em;
      width: 3.3em;
      height: 2.3em;
  }




  .icon.cart:before {
      background-position: 0em -358.5em;
      width: 26.0293em;
      height: 26.0293em;
  }




  .icon.checked:before {
      background-position: 0em -384.6em;
      width: 2.6em;
      height: 2.6em;
  }




  .icon.clock:before {
      background-position: 0em -387.2em;
      width: 37.296em;
      height: 37.296em;
  }




  .icon.close:before {
      background-position: 0em -424.5em;
      width: 5.4422em;
      height: 5.4422em;
  }




  .icon.close-fat:before {
      background-position: 0em -430em;
      width: 2.19em;
      height: 2.19em;
  }




  .icon.doc:before {
      background-position: 0em -432.2em;
      width: 51.6375em;
      height: 51.6375em;
  }




  .icon.download:before {
      background-position: 0em -483.9em;
      width: 47.12em;
      height: 47.12em;
  }




  .icon.enter:before {
      background-position: 0em -531.1em;
      width: 61.2em;
      height: 61.2em;
  }




  .icon.fence:before {
      background-position: 0em -592.3em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.file:before {
      background-position: 0em -643.5em;
      width: 51.1em;
      height: 51.1em;
  }




  .icon.filter:before {
      background-position: 0em -694.6em;
      width: 97.1986em;
      height: 97.1986em;
  }




  .icon.garbage:before {
      background-position: 0em -791.8em;
      width: 5.9em;
      height: 5.9em;
  }




  .icon.heart:before {
      background-position: 0em -797.7em;
      width: 47.170100000000005em;
      height: 47.170100000000005em;
  }




  .icon.house:before {
      background-position: 0em -844.9em;
      width: 48.619600000000005em;
      height: 48.619600000000005em;
  }




  .icon.info:before {
      background-position: 0em -893.6em;
      width: 33em;
      height: 33em;
  }




  .icon.interface:before {
      background-position: 0em -926.6em;
      width: 49.04em;
      height: 49.04em;
  }




  .icon.like:before {
      background-position: 0em -975.7em;
      width: 49.019999999999996em;
      height: 49.019999999999996em;
  }




  .icon.login:before {
      background-position: 0em -1024.8em;
      width: 9.5667em;
      height: 9.5667em;
  }




  .icon.magnifying-glass:before {
      background-position: 0em -1034.4em;
      width: 45.1em;
      height: 45.1em;
  }




  .icon.mail:before {
      background-position: 0em -1079.5em;
      width: 48.33em;
      height: 48.33em;
  }




  .icon.menu:before {
      background-position: 0em -1127.9em;
      width: 45.9em;
      height: 45.9em;
  }




  .icon.minus:before {
      background-position: 0em -1173.8em;
      width: 1.6em;
      height: 0.2em;
  }




  .icon.pantone:before {
      background-position: 0em -1174em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.phone:before {
      background-position: 0em -1225.2em;
      width: 57.8106em;
      height: 57.8106em;
  }




  .icon.phone-call:before {
      background-position: 0em -1283.1em;
      width: 47.3806em;
      height: 47.3806em;
  }




  .icon.pipeline:before {
      background-position: 0em -1330.5em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.placeholder:before {
      background-position: 0em -1381.7em;
      width: 47.7em;
      height: 47.7em;
  }




  .icon.play--color:before {
      background-position: 0em -1429.4em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.plus:before {
      background-position: 0em -1480.6em;
      width: 44.8em;
      height: 44.8em;
  }




  .icon.question:before {
      background-position: 0em -1525.4em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.roof:before {
      background-position: 0em -1576.6em;
      width: 51.1997em;
      height: 51.1997em;
  }




  .icon.share:before {
      background-position: 0em -1627.8em;
      width: 48.160000000000004em;
      height: 48.160000000000004em;
  }




  .icon.smile-good:before {
      background-position: 0em -1676em;
      width: 4.3em;
      height: 4.3em;
  }




  .icon.soc-facebook:before {
      background-position: 0em -1680.3em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-facebook-box:before {
      background-position: 0em -1731.5em;
      width: 9em;
      height: 9em;
  }




  .icon.soc-google:before {
      background-position: 0em -1740.5em;
      width: 9.6669em;
      height: 9.6669em;
  }




  .icon.soc-in:before {
      background-position: 0em -1750.2em;
      width: 43.011700000000005em;
      height: 43.011700000000005em;
  }




  .icon.soc-instagram:before {
      background-position: 0em -1793.3em;
      width: 43.8536em;
      height: 43.8536em;
  }




  .icon.soc-ok:before {
      background-position: 0em -1837.2em;
      width: 9.5481em;
      height: 9.5481em;
  }




  .icon.soc-twitter:before {
      background-position: 0em -1846.8em;
      width: 41.015499999999996em;
      height: 41.015499999999996em;
  }




  .icon.soc-vk:before {
      background-position: 0em -1887.9em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-whatsapp:before {
      background-position: 0em -1939.1em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-youtube:before {
      background-position: 0em -1990.3em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.sort:before {
      background-position: 0em -1996.7em;
      width: 1.9em;
      height: 1.2em;
  }




  .icon.star:before {
      background-position: 0em -1997.9em;
      width: 1.6em;
      height: 1.6em;
  }




  .icon.user:before {
      background-position: 0em -1999.5em;
      width: 35em;
      height: 35em;
  }





