navy = #001F3F
blue = #00b4ff
aqua = #7FDBFF
teal = #39CCCC
olive = #3D9970
green = #2ECC40
lime = #01FF70
yellow = #FFDC00
orange = #FF851B
red = #FF4136
fuchsia = #F012BE
purple = #B10DC9
maroon = #85144B
white = #FFFFFF
silver = #DDDDDD
gray = #AAAAAA
black = #111111

$dark-yellow = #ffae00
$yellow = #ffe21e
$light-yellow = #f9ec5c
$dark-red = #ad0c14
$red = #cd0b15
$light-red = #ef2b35
$mark = #53ae44
$green = #53ae44
$bg-gray = #f6f6f6

$main-text-color = black
$link-color = black
$link-color-visited = grey
$link-color-hover = black
$border-color = #cdcdcd
