$v-font =  'Roboto', sans-serif

webfont('PF Beau Sans Pro', 'PFBeauSansPro-Black', '900')

typeSize(fontSm,font)
	+below(768px)
		font-size font px
	font-size fontSm px

.type--xs
	typeSize(12,10)

.type--sm
	typeSize(14,12)

.type--main
	typeSize(15,13)

.type--md
	typeSize(20,16)

.type--lg
	typeSize(24,18)

.type--xl
	typeSize(50,24)

.type--bold
	font-weight bold
	font-family: "PT sans"


.title--md
	@extend .type--lg
	font-family "PF Beau Sans Pro"
	font-weight 900
	text-transform uppercase
	margin-bottom: 20px


h1
	@extend .type--xl
	font-family: PF Beau Sans Pro
h2
	@extend .type--lg
	font-family: PF Beau Sans Pro
h3
	@extend .type--main
h4
	@extend .type--sm
h5
	@extend .type--xs

a
	color black
	text-decoration: none

.link--blue
	tr(all)
	color blue
	text-decoration: underline
	&:hover
		color #0178f2
		text-decoration: none

.link--text
	tr(all)
	text-decoration: underline
	color black
	opacity .7
	&:hover
		opacity 1
		text-decoration: none


.link--main
	color black
	hover-underline(blue)
	&:hover
		color black
