@import 'rupture'
@import "variable/_function.styl"
@import "variable/_fonts.styl"
@import "variable/_ie.styl"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/config/_color.styl"
@import "variable/config/_typography.styl"
@import "variable/config/_btn.styl"
@import "variable/config/_input.styl"
@import "../module/**/*"

body
	@extend .type--main
	font-family $v-font
	color $main-text-color
	line-height 1.2
	letter-spacing 0.01em

.main-cont
	center(1200px,10px)

//.head
//.head-top
//.main-cont
.header
	padding: 20px 0
	f()
	align-items: center
.header-logo
	margin-right: 5%
.header-location
	text-decoration: underline
	margin-right: 5%
.header-contact
	flex(mid)
	cp()
.header-contact__icon
	margin-right: 10px
	.icon
		size 20px
		fill $green
.header-contact__text
	font-size: 14px
	opacity: .7
.header-phone
	margin-left: auto
	@extend .type--lg
	@extend .type--bold
.header-contact-wrap
	width: 35%
	flex(between)
//.nav

.head-top-wrap
	background: $bg-gray

.head-top
	padding: 10px 0
	f()
	align-items: center
.head-top__el
	margin-right: 3%
	font-size: 12px
	opacity: .4
	tr(all)
	&:hover
		opacity: 1

.header-lk
	flex(mid)
	margin-left: 2%
	padding: 0 20px
.header-lk__icon
	margin-right: 10px
	.icon
		size 25px
		fill $green
.header-lk__text
	font-size: 12px
	opacity: .6
.header-lk__log
	font-weight: 700

.nav
	background: $green

.nav-wrap
	f()
	align-items: stretch
.nav-cat
	flex(mid)
	padding:15px 10px
.nav-cat__icon
	margin-right: 10px
	flex(mid)
	.icon
		fill white
		size 22px
.nav-cat__text
	color white
	font-size: 16px
.search
	width: 60%
	margin:0 auto
	flex(mid)
	position: relative
	.input
		width: 100%
		padding: 10px 20px
		background: white
		br(3px)

.search-get
	position: absolute
	right: 15px
	.icon
		size 20px


.cart
	flex(mid)
	margin-left: 1%
	padding: 0 20px
	background: #4ca33e
.cart__icon
	margin-right: 15px
	position: relative
	.icon
		size 25px
		fill white
.cart-val
	position: absolute
	size 15px
	round()
	flex(mid)
	background: $yellow
	top -5px
	right: -5px
	color black
	font-size: 10px
.cart__text
	font-size: 12px
	opacity: .6
	color white
.cart__cost
	color white
	font-weight: 700
	font-size: 18px

.banner
	padding: 17% 10%
	position: relative
	bg-full()
	position: relative

.content
	height: 1000px

.filter
	position: absolute
	width: 100%
	height: 100%
	top 0
	left 0
	background: rgba(0, 0, 0, 0.41)

.banner-content
	position: absolute
	width: 100%
	height: 100%
	top 0
	left 0
	.main-cont
		width: 100%
		height: 100%

.banner-wrap
	flex(between)
	position: relative
	height: 100%
.banner-worker
	width: 22vw
	position: absolute
	right: 0
	bottom 0

.banner-title
	color white
	font-size: 108px
	font-weight: 700
	line-height: .9
	margin-bottom: 30px
	font-family: "PT sans"

.banner-text
	font-size: 32px
	color $yellow

.banner-text-slogan
	width: 40%

.banner-title-sub
	color white
	line-height: 1.6
	font-weight: 300

