@import 'rupture'
@import "variable/_function.styl"
@import "variable/_fonts.styl"
@import "variable/_ie.styl"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/config/_color.styl"
@import "variable/config/_typography.styl"
@import "variable/config/_btn.styl"
@import "variable/config/_input.styl"
@import "../module/**/*"

body
	@extend .type--main
	font-family $v-font
	color $main-text-color
	line-height 1.2
	letter-spacing 0.01em
	background: rgba(251, 251, 251, 0.2)
.main-cont
	center(1200px,10px)

//.head
//.head-top
//.main-cont
.header
	padding: 20px 0
	f()
	align-items: center
.header-logo
	margin-right: 5%
.header-location
	text-decoration: underline
	margin-right: 5%
.header-contact
	flex(mid)
	cp()
	margin-right: 3%
.header-contact__icon
	margin-right: 10px
	flex(mid)
	.icon
		size 16px
		fill $green
.header-contact__text
	font-size: 12px
	opacity: .7
.header-phone
	margin-left: auto
	@extend .type--lg
	@extend .type--bold
.header-contact-wrap
	f()
	align-items: center
//.nav

.head-top-wrap
	background: $bg-gray
	padding: 5px 0
.menu
	padding: 10px 0 10px 10px
	f()
	justify-content: space-between
	align-items: center
	width calc(100% - 400px)
.menu__el
	color white
	tr(all)
	padding: 10px 15px
	&:hover
		opacity: 1

.header-lk
	flex(mid)
	margin-left: 2%
	padding: 0 20px
.header-lk__icon
	margin-right: 10px
	.icon
		size 20px
		fill $green
.header-lk__text
	font-size: 12px
	opacity: .6
.header-lk__log
	font-weight: 700

.nav
	background: $green

.nav-wrap
	f()
	align-items: stretch
.nav-cat
	flex(mid)
	padding:15px 20px
	background: $yellow
	width: 200px
.nav-cat__icon
	margin-right: 10px
	flex(mid)
	.icon
		fill black
		size 18px
.nav-cat__text
	color black
	font-weight: 700
.search
	width: 35%
	margin:0 auto
	flex(mid)
	position: relative
	.input
		width: 100%
		padding: 10px 20px
		br(3px)

.search-get
	position: absolute
	right: 15px
	.icon
		size 15px


.cart
	flex(mid)
	margin-left: 1%
	padding: 0 20px
	background: #4ca33e
	width: 170px
.cart__icon
	margin-right: 15px
	position: relative
	.icon
		size 25px
		fill white
.cart-val
	position: absolute
	size 15px
	round()
	flex(mid)
	background: $yellow
	top -5px
	right: -5px
	color black
	font-size: 10px
.cart__text
	font-size: 12px
	opacity: .6
	color white
.cart__cost
	color white
	font-weight: 700
	font-size: 18px

.banner
	padding: 17% 10%
	position: relative
	bg-full()

.content
	p
		line-height: 1.4
	ul
		li
			line-height: 1.4
			margin-bottom: 20px
			list-style: none
			position: relative
			&:before
				content ''
				position: absolute
				left -20px
				size 6px
				background: $green
				round()
				top 8px
	b,strong
		color black
.filter
	position: absolute
	width: 100%
	height: 100%
	top 0
	left 0
	background: rgba(0, 0, 0, 0.41)

.banner-content
	position: absolute
	width: 100%
	height: 100%
	top 0
	left 0
	.main-cont
		width: 100%
		height: 100%

.banner-wrap
	flex(between)
	position: relative
	height: 100%
.banner-worker
	+below(1440px)
		right: 10%
	width: 22vw
	position: absolute
	right: 0
	bottom 0

.banner-title
	color white
	font-size: 108px
	font-weight: 700
	line-height: .9
	margin-bottom: 30px
	font-family: "PT sans"

.banner-text
	font-size: 32px
	color $yellow

.banner-text-slogan
	width: 40%

.banner-title-sub
	color white
	line-height: 1.6
	font-weight: 300

.section
	padding: 60px 0
.section-title
	@extend .type--lg
	@extend .type--bold
	margin-bottom: 30px
.section--gray
	background: #f3f3f3
.items
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(4,1fr)

.item
	padding: 20px 20px 30px 20px
	position: relative
	cp()
	bsh-hover()
	background: white

.items-popular
	.item
		margin: 20px 0 30px 0
.item-label
	position: absolute
	top 10px
	left 0
	color white
	width: 60px
	padding: 5px 15px
	overflow: hidden
	border-radius 0 2px 2px 0
.item-label__cont
	position: relative
	width: 100%
	height: 100%
	&:before
		content ''
		size 30px
		background: white
		position: absolute
		top -7px
		right: -42px
		transform rotate(45deg)
		br(3px)
.item-label--hit
	background: $red

.item-label--new
	background: $red
.item__img
	+below(640px)
		padding: 30% 10%
	padding: 40% 10%
	bg-full()
	background-size: contain
	margin: 20px
.item-info
	flex(mid)
	fl()
.item__title
	@extend .type--md
	margin-bottom: 20px
	text-align: center
	font-family: "PT sans"
	font-weight: 700

.item__descr
	margin-bottom: 20px
	font-family: "PT sans"
	text-align: center
	line-height: 1.4
.item__cost
	text-align: center
	font-size: 22px
	@extend .type--bold
	margin-bottom: 20px
.item__get
	@extend .btn--md
	@extend .btn--green

.slick-slide
	margin: 0 5px
.slick-list
	margin: 0 -5px

//for custom navigation
.slider-wrap
	position: relative
.slider-control
	flex(mid)
	tr(all)
	position: absolute
	top 50%
	z-index 10
	cp()
	br(2px)
	transform translateY(-50%)
	&:hover
		background: $gray
	.icon
		size 18px
.slider-control--green
	.icon
		fill $green
.slider-control--left
	left -10px
.slider-control--right
	right -10px

.review
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(5, 1fr)
	align-items:stretch

.review__el
	background: red
	f()
	fl()
	&:nth-child(1)
		grid-column 1/3
.review__el--sm
	.review__el-img
		padding: 40% 10%
	.review__el-content
		padding: 20px
.review__el--rotate
	.review__el-date
		top initial
		bottom -15px
.review__el-img
	bg-full()
	padding: 20% 10%
.review__el-content
	padding: 30px 20px
	background: white
	position: relative
	flex-grow 1
.review__el-date
	background: $green
	color white
	padding: 5px 10px
	display: inline-block
	position: absolute
	top -15px
	left 20px
	font-size: 12px
.review__el-title
	font-weight: 700
	margin-bottom: 20px
.review__el-text
	line-height: 1.4
	font-size: 14px
	margin-bottom: 10px
.review__el-more
	text-decoration: underline
	font-size: 12px
	font-weight: 700

.footer
	background: white
	padding: 60px 0
//.main-cont
.footer-wrap
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(5, 1fr)
//.footer-col
.footer__title
	@extend .type--bold
	margin-bottom: 20px
//.footer__list
.footer__list-el
	margin-bottom: 10px
.footer-logo
	margin-bottom: 20px
.footer-phone
	@extend .type--bold
	font-size: 22px
	margin-bottom: 10px
.footer-callback
	text-decoration: underline
	color $green

@-webkit-keyframes slideInDown {
	from {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

.shrink
	position fixed
	top 0
	left 0
	width 100%
	margin 0
	animation:  slideInDown  1s 1 ease-in-out;
	z-index 100

.tools
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(4, 1fr)
	margin-bottom: 60px
.tools__el
	f()
	align-items: center
	padding: 20px
	background: white
	cp()
	border 1px solid #ececec
	br(5px)
.tools__el-img
	.icon
		size 50px
		fill $green
	margin-right: 20px
.tools__el-text
	width: 50%
	font-weight: 700
	color black

.advant
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(4, 1fr)
	grid-template-row: repeat(3, 1fr)

.advant-el--slogan
	grid-column 1/3
	grid-row 1/2
	padding: 0
.advant-slogan
	font-size: 110px
	font-weight: 700
	color black
	line-height: 1
	up()
	padding: 0
.advant-el
	padding: 30px
	f()
	fl()
	justify-content: center
.advant-el--old
	grid-column 3/5
	background: #53ae44
	padding: 0 6%
	.advant-el__title
		font-size: 64px
		color white
		margin-bottom: 0
	.advant-el__text
		color white
.advant-el--service
	grid-row 2/4
	background: #f3f3f3
	.advant-el__title
		margin-bottom: 0
	ul
		padding-left: 20px
	li
		margin-bottom: 5px
.advant-el--garant
	grid-column 2/3
	border 3px solid #f3f3f3
.advant-el--ekonom
	grid-column 3/5
	border 3px solid #53ae44
.advant-el--choice
	grid-column 2/3
	border-bottom 3px solid #53ae44
.advant-el--person
	grid-column 3/5
	background: #f3f3f3
.advant-el__title
	font-size: 28px
	font-weight: 700
	color black
	margin-bottom: 15px

.advant-el__text
	line-height: 1.6
	font-size: 14px


//work

.nice-select
	br(20px)
	display: block
	color #000000
	font-size 14px
	font-weight 700
	height: 36px
	line-height: 36px
	.list
		width: calc(100% )
		left 0px
		border-radius 0 0 5px 5px
		border 0px solid $border-color
		border-top 0
		margin-top: 0
		li
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis
	.current //max width dots
		white-space nowrap
		overflow hidden
		text-overflow ellipsis
		display inline-block
		max-width 120px
		font-weight: 400

.nice-select.open
	border-radius 5px 5px 0 0

select.select-beauty
	display none!important

.element-select
	padding: 20px 0

.nice-select:active, .nice-select.open, .nice-select:focus
	border 1px solid $border-color

.bread
	+below(640px)
		display: none
	f()
	fw()
	padding: 20px 0

.bread__el
	margin-right: 15px
	margin-bottom: 10px
	position: relative
	font-size: 12px
	color #7e7e7e
	&:after
		content '-'
		position: absolute
		right: -10px
		top 1px
	&:last-child
		&:after
			content ''
			display: none
	&:first-child
		font-weight: 700

.goods-banner
	margin: 20px 0
.goods-banner__el
	bg-full()
	padding: 5% 10%
	background-color: gray
.goods
	+below(960px)
		fw()
	f()
	justify-content: space-between
	margin-bottom: 40px
.toolbar
	+below(960px)
		width: 100%
		display: none
	width: 285px
.toolbar-box
	border 1px solid $border-color
	background-color #ffffff
	margin-bottom: 20px
	br(5px)

.toolbar-box--open
	.toolbar-head__icon
		transform rotate(-180deg)
.toolbar-box-head
	f()
	justify-content: space-between
	cp()
	padding: 20px

.toolbar-head__title
	font-size 16px
	font-weight 700
	text-transform uppercase
	width:calc(100% - 40px)
	color  black
.toolbar-head__icon
	flex(mid)
	transform-origin center center
	tr(all)
	.icon
		size 15px
.toolbar-box-cont
	border-top 1px	solid $border-color
	padding: 20px
	display: none



//.goods-list
.goods-list__el
	margin-bottom: 20px
	font-size: 15px
	display: block
	tr(all)
	color #4e4e4e
	&:hover
		color $green
	&:last-child
		margin-bottom: 0
.goods-profile
	display: grid
	grid-row-gap 10px
	grid-column-gap 20px
	grid-template-columns: repeat(2, 1fr)
.goods-profile__el
	cp()
.goods-profile__el-title
	font-size: 12px
	margin-bottom: 5px
.goods-profile__el-img
	bg-full()
	padding: 40% 10%
	position: relative

.goods-profile__el-style
	bg-full()
	padding: 2% 5%
//.style-label
//.style-label--checkbox
//.sytle-input.goods-profile__el-wrap
//.sytle-input-element
//.icon-check
//.sytle-input-text
.goods-cont
	+below(960px)
		width: 100%
	width calc(100% - 315px)
.goods-serch
	+below(1024px)
		display: none
	f()
	fw()
	margin-bottom: 30px
.goods-serch__title
	fw()
	margin-right: 10px
	margin-bottom: 5px
	font-weight: 700
.goods-serch__list-el
	display inline-block
	margin 0 5px 5px 5px
	background #ededed
	padding 3px 10px
	border-radius 10px
	font-size 12px
	tr(all)
	&:hover
		background: $green
		color white
.goods-profile__el-wrap
	position: relative
	.check-el
		position: absolute
		top 7px
		right: 0px
		margin-right: 0

.scroll
	position: relative
	height: 400px


//visible scrollbar
.ps__scrollbar-y-rail
  background-color #eaeaea !important
  opacity 1!important

.ps > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y, .ps > .ps__scrollbar-y-rail:active > .ps__scrollbar-y
	width: 10px
.ps > .ps__scrollbar-y-rail
	width: 10px
	background-color #f6f6f6!important
	opacity 1!important


.filter__color
	+below(768px)
		f()
		fw()
	display grid
	grid-template-columns repeat(auto-fill, minmax(36px,1fr) )
	grid-gap 10px
.filter__color-el--active
	.filter__color-ico
			opacity 1

.filter__color-ico
	tr(all)
	.icon
		size 17px
		fill white
	opacity 0

.filter__color-el--white
	border 1px solid #e1e1e1
	.icon
		fill black
.filter__color-el
	+below(768px)
		margin: 5px
	flex(mid)
	tr(all)
	size 42px
	br(3px)
	cp()
	&:hover
		.filter__color-ico
			opacity 1

.irs--flat .irs-bar
	background: $green

.irs--flat .irs-handle > i:first-child
	background: $green!important

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single
	background: $green

.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before
	content ''
	border-top-color $green

.toolbar-doc
	&:hover
		.icon
			fill $green
		.toolbar-doc__text
			color $green
	f()
	margin-bottom: 20px
.toolbar-doc__icon
	.icon
		tr(all)
		size 30px
		opacity .6
	margin-right: 20px
.toolbar-doc__text
	tr(all)
	width calc(100% - 60px)
	color #4e4e4e
.sort
	+below(640px)
		fw()
		display: none
	f()
	align-items: center
	margin-bottom: 30px
.sort-el
	+below(640px)
		width: 100%
		justify-content: space-between
		margin-bottom: 10px
	f()
	justify-content: center
	align-items: center
	margin-right: 30px
.sort-el__name
	+below(640px)
		width: 40%
	margin-right: 10px
	font-weight: 700
.sort-el__list
	+below(640px)
		width: 60%
		.select-beauty
			width: 100%
.sort-val
	+below(640px)
		margin-left initial
	margin-left: auto
	span
		font-weight: 700

.sort-el--type
	.nice-select
		+below(640px)
			width: 100%
		width: 150px

.goods-el
	+below(640px)
		fw()
		padding: 10px
	br(5px)
	f()
	justify-content: space-between
	margin-bottom: 30px
	border 1px solid $border-color
	background: white
	padding: 20px
.goods-el-view
	+below(1024px)
		min-width:250px
	+below(640px)
		width: 100%
		margin-bottom: 20px
	width: 30%
.goods-el-img
	+below(640px)
		padding: 35% 10%
	bg-full()
	background-size contain
	padding: 50% 10%
	margin-bottom: 20px
//.goods-img-list
.goods-img-list__el
	bg-full()
	br(5px)
	cp()
	size 60px
	background-size: contain
	padding: 5px
	border 1px solid $border-color
	tr(all)
	&:hover
		border-color $green
.goods-el-info
	+below(1024px)
		width calc(100% - 270px)
	+below(640px)
		width: 100%
	width: 67%
.slider-wrap-img-list
	padding: 0 10px
.goods-img-list__el--active
	border-color $green
.goods-title
	+below(768px)
		font-size: 24px
	font-size: 28px
	font-weight: 700
	margin-bottom: 15px
	display: block
	color black
.goods-price
	+below(1024px)
		margin-bottom: 20px
	f()
	font-size: 18px
	align-items: center
	margin-bottom: 30px
.goods-price-text
	margin-right: 10px
.goods-price-val
	font-size: 24px
	font-weight: 700
	color $red

.goods-type
	+below(1024px)
		fw()
	flex(between)
	margin-bottom: 15px
.goods-type__el
	+below(1024px)
		&:first-child
			width: 100%
			margin-bottom: 20px
		width: 45%
	+below(640px)
		width: 100%
		margin-bottom: 10px
	width: 30%
	.select-beauty
		width: 100%

.goods-type__el-val
	font-weight: 700

.goods-descr
	f()
	justify-content: space-between

.goods-gabarites
	+below(1024px)
		width: 100%
	width: 65%
.goods-size
	flex(between)
	padding: 10px
	border 1px solid $border-color
	br(5px)
.goods-size__el
	f()
	align-items: center
	width: 31%

.goods-size__el-text
	font-size: 12px
	margin-right: 10px
.goods-size__el-val
	.input
		padding: 10px
		width: 100%
		font-size: 12px
.goods-size__el-cost
	font-weight: 700

.goods-gabarites-add
	text-align: center
	color gray
	margin: 10px 0
	display: block
	margin-bottom: 30px
	tr(all)
	&:hover
		color black
.goods-meters
	span
		font-weight: 700
		font-size: 18px
		color black
		sup
			font-size: 10px
	margin-bottom: 10px
.goods-get
	@extend .btn--md
	@extend .btn--green
	width: 100%
	padding: 15px
	br(10px)
	font-size: 18px
	margin: 10px 0
.goods-compare
	text-align: center
	display: block
	text-decoration: underline
	color blue
	margin-bottom: 10px
.goods-text
	color gray
	font-size: 10px
.goods-consist
	+below(1024px)
		display: none
	width: 30%
//.goods-scale
.goods-scale__el
	f()
	justify-content: space-between
	border-bottom 1px solid $border-color
	padding-bottom: 5px
	margin-bottom: 5px
	font-size: 12px
.goods-scale__el-text
	width: 70%
//.goods-scale__el-val
.goods-scale-more
	width: 100%
	padding:5px 10px
	border 1px solid blue
	display: block
	text-align: center
	font-size: 12px
	color blue
	br(10px)
	margin-top: 20px

.pagination
	f()
	align-items: center
	margin: 20px 0 40px 0
.pagination__el
	flex(mid)
	br(5px)
	tr(all)
	size 30px
	border 1px solid $border-color
	margin-right: 10px
	cp()
	&:hover
		background: $green
		color white
		border-color $green
	&:last-child
		margin-right: 0
.pagination__el--active
	background: $green
	color white
	border-color $green

.buy-add
	padding: 20px 20px 40px 20px
	border 1px solid $green
	background: white
	br(5px)
	margin-bottom: 40px
.buy-add-title
	text-align: center
	font-size: 18px
	font-weight: 700
	margin-bottom: 20px

.buy-add-list__el-wrap
	flex(mid)
	fl()
.buy-add-list__el-img-cont
	br(5px)
	border 1px solid $border-color
	padding: 5px
	margin-bottom: 5px
.buy-add-list__el-img
	bg-full()
	size 60px
	background-size: contain

.buy-add-list__el-name
	font-size: 12px

.note
	padding: 20px
	br(5px)
	margin: 20px 0 40px 0
	line-height: 1.6
.note--green
	background: #dcf2e6

.goods-product
	+below(480px)
		fl()
	f()
	margin-bottom: 20px
	background: white
	border 1px solid $border-color
	&:last-child
		margin-bottom:0
.goods-product__logo
	+below(640px)
		width: 100%
	padding: 20px
	flex(mid)
	width: 20%
.goods-product__text
	+below(640px)
		width: 100%
	width: 60%
	padding: 20px
	line-height: 1.4
	font-size: 12px
.goods-product__val
	+below(1024px)
		width: 30%
	+below(640px)
		width: 100%
		border-left 0
		border-top 1px solid $border-color
	padding: 20px
	border-left 1px solid $border-color
	flex(mid)
	fl()
.goods-product__cost
	color $green
	font-weight:700
	margin-bottom: 10px
	span
		display: inline-block
		font-size: 24px
		margin: 0 5px
		font-family:PF Beau Sans Pro

.goods-product__get
	@extend .btn--md
	@extend .btn--green
	width: 100%
	padding: 10px
	font-size: 12px

.goods-product-wrap
	margin-bottom: 40px

.video
	bg-full()
	br(10px)
	padding: 30% 10%
	position: relative
	overflow: hidden
	&:hover
		.video-filter
			background: rgba(17, 17, 17, 0.4)
	.icon
		transition all .6s
		position: absolute
		size 80px
		z-index 10
		top calc(50% - 40px)
		left calc(50% - 40px)

.video-filter
	transition all .6s
	position: absolute
	top 0
	left 0
	width: 100%
	height: 100%
	background: #11111130

.goods-definition
	margin-bottom: 40px

.goods-table
	margin-bottom: 40px
	thead
		background: $green
		td
			text-align: center
			color white
			font-size: 14px
			border-color white
	td
		text-align: center
		vertical-align: middle
		font-size: 14px

.works
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(auto-fit, minmax(12rem,1fr))
	margin-bottom: 40px

.works__el
	br(5px)
	overflow: hidden
.works__el-img
	bg-full()
	padding: 40% 10%

.works__el-content
	background: white
	border 1px solid $border-color
	padding: 20px
	flex(mid)
	fl()
.works__el-title
	font-weight: 700
	color black
	text-align: center

.unit-el
	+below(740px)
		fw()
	br(5px)
	f()
	justify-content: space-between
	margin-bottom: 30px
.unit-el-view
	+below(740px)
		width: 100%
	width: 40%
.unit-el-img
	bg-full()
	background-size contain
	padding: 50% 10%
	margin-bottom: 20px
//.unit-img-list

.unit-el-info
	+below(740px)
		width: 100%
		margin-top: 20px
	width: 57%
.slider-wrap-img-list
	padding: 0 10px

.unit-title
	font-size: 28px
	font-weight: 700
	margin-bottom: 20px
	display: block
	color black
	cp()


.unit-price
	+below(640px)
		margin-bottom: 15px
	f()
	font-size: 18px
	align-items: center
	margin-bottom: 50px
.unit-price-text
	margin-right: 10px
	font-size: 15px
.unit-price-val
	+below(640px)
		font-size: 18px
	font-size: 32px
	font-weight: 700
	color black
	font-family: PF Beau Sans Pro


.unit-type
	flex(between)
	margin-bottom: 15px

.unit-img-list__el
	+below(640px)
		width: 100%
		height: auto
		padding: 50% 10%
	background-position: center center!important
	background-repeat: no-repeat!important
	background-size: contain!important
	background: white
	size 100px
	padding: 5px
	border 1px solid $border-color
	cp()

.unit-img-list__el-wrap
	display: flex !important
	align-content:center
	justify-content: center

.unit-img-list__el--active
	border-color $green

.rating
	margin-bottom: 15px
	f()
	align-items: center
.rating-text
	margin-right: 20px
.rating-row
	f()
	align-items: center
.rating-row__item
	margin-right: 4px
	&:last-child
		margin-right: 0
	.icon
		size 14px
		fill #efce4a

.rating-row__item--empty
	.icon
		fill #dfdfdf

.unit-code
	color gray
	margin-bottom: 20px

.unit-color
	+below(640px)
		fw()
	f()
	align-items: center
	margin-bottom: 20px
	max-width 500px

.card-color__list
	width: 100%

.unit-color__text
	+below(640px)
		font-size: 14px
		margin-bottom: 10px
	margin-right: 10px

.unit-kind
	f()
	align-items: center
	margin-bottom: 20px

.unit-kind__text
	margin-right: 10px
.unit-kind__val
	font-weight: 700
	color black

.book-row
	margin-bottom: 10px
.book-row__title
	+below(640px)
		white-space:initial
		width: 40%
		font-size: 10px
	display table-cell
	 white-space nowrap
.book-row__dot
	display table-cell
	border-bottom 1px dashed #edecec
	width 100%
.book-row__value
	+below(640px)
		font-size: 12px
	display table-cell
	white-space nowrap
	color black
	font-weight: 700
	vertical-align: bottom

.unit-descr__title
	font-size: 18px
	margin-bottom: 10px
	font-weight: 700

.unit-descr__cont
	+below(640px)
		margin-bottom: 20px
	margin-bottom: 50px
	max-width 500px

.goods-meters-wrap
	+below(640px)
		fw()
	f()
	.goods-meters
		+below(640px)
			margin-right: 0
		&:first-child
			margin-right: 30px
	margin-bottom: 10px
.unit-get
	+below(640px)
		fw()
	flex(between)
.unit-get__el
	+below(640px)
		width: 100%
		&:first-child
			margin-bottom: 20px
	width: 48%
	@extend .btn--md
	padding: 20px
	font-size: 18px
.unit-get__el--cart
	@extend .btn--green
.unit-get__el--click
	@extend .btn--light

.unit-tab
	+below(768px)
		margin: 20px 0
	margin: 80px 0
.unit-tab-head
	+below(640px)
		white-space nowrap
		overflow-x auto
	f()

.unit-tab-head__el
	+below(768px)
		font-size: 12px
	up()
	cp()
	flex(mid)
	tr(all)
	margin-right: -1px
	width: 100%
	padding: 20px
	font-size: 14px
	text-align: center
	border 1px solid $border-color
	&:hover
		background: $bg-gray
		cursor pointer
	background: white
.unit-tab-head__el--active
	border-bottom 0

.unit-tab-cont
	+below(640px)
		padding: 15px 0
	padding: 30px 0
	display: none
.unit-tab-cont--active
	display: block
.unit-size
	+below(640px)
		column-count: 1
	column-count: 2
	column-gap: 30px

.unit-mark__list
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(auto-fit, minmax(7rem,1fr))

.unit-mark__list-el-name
	text-align: center
.unit-mark__list-el
	flex(mid)
	fl()
.unit-mark__list-el-color
	size 80px
	br(4px)
	margin-bottom: 10px

.install
	display: grid
	grid-row-gap 30px
	grid-column-gap 20px
	grid-template-columns: repeat(auto-fill, minmax(14rem,1fr))

.install__el
	f()
	align-items: center
.install__el-text
	font-weight: 700
.install__el-icon
	margin-right: 20px
	.icon
		size 40px
		fill $green

.complete-tab
	+below(640px)
		f()
		overflow-x scroll
		margin-bottom: 10px
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(auto-fill, minmax(12rem,1fr))
	margin-bottom: 30px
.complete-tab__el
	+below(640px)
		white-space nowrap
		margin-right: 5px
		font-size: 12px
		&:last-child
			margin-right: 0
	br(5px)
	flex(mid)
	cp()
	tr(all)
	padding: 10px
	border 1px solid $border-color
	text-align: center
	&:hover
		background: $green
		color white
		border-color $green

.complete-tab__el--active
	background: $green
	color white
	border-color $green

.complete-tab-cont
	display: none
.complete-tab-cont--active
	display: block

.complete
	margin-bottom: 40px

.items-container
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(auto-fill, minmax(16rem,1fr))

.item__art
	font-size: 12px
	color gray
	margin-bottom: 5px

.incr
	+below(640px)
		width: 100%
	f()
	justify-content: space-between
	position relative
	width 100px
	user-select none
	background: white
.incr__nav
	flex(mid)
	tr(background )
	br(5px)
	size 34px
	border 1px solid $border-color
	background white
	.icon
		size 12px
		fill #b3b3b3
		opacity:1
	&:hover
		cp()
		background-color $bg-gray
		border 0
		.icon
			fill black
	&:active
		background-color $bg-gray
.incr__val
	flex(mid)
	background white
	position relative
	tr(all)
	color black
	font-weight 700
	min-width 30px
.item__incr
	+below(640px)
		width: 100%
	width: 100px

.add-btn
	flex(mid)
	fl()
	.elements-icr-block
		display: none

.add-btn--active
	.elements-icr-block
		display: block
	.item__get
		display: none

.item-footer
	flex(between)
	width: 100%
	margin-top: 20px
.item-footer__el
	text-decoration: underline
	color gray
	font-size: 12px
	&:hover
		color black

.kind

	+below(640px)
		grid-template-columns: 1fr
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(auto-fill, minmax(25rem,1fr))
	margin-bottom: 40px
.kind-el
	+below(480px)
		fw()
	f()
	border 1px solid $border-color
	br(5px)
.kind-el__img-wrap
	+below(480px)
		width: 100%
	width: 30%
	padding: 20px
.kind-el__img
	+below(480px)
		padding: 35% 10%
	width: 100%
	height: 100%
	bg-full()
	background-size: contain
.kind__el-cont
	+below(480px)
		width: 100%
	padding: 20px
	width: 70%
.kind__el-brend
	margin-bottom: 10px
.kind__el-title
	font-weight:700
	color black
	font-size: 18px
	margin-bottom: 10px

.kind__el-price
	margin-bottom: 20px
	color black
.kind__el-text
	line-height: 1.4
	margin-bottom: 20px
.kind__el-color-title
	+below(640px)
		font-size: 12px
	color gray
	margin-bottom: 5px
.kind__el-color
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(auto-fill, minmax(.5rem,1fr))
.kind__el-color-item
	size 20px
	br(5px)

.slider-wrap--simple
	.slider-control
		size 30px
		background: white
		flex(mid)
		border 1px solid #efefef
		.icon
			size 12px
			fill #c9c9c9
	.slider-control--left
		left 0px
	.slider-control--right
		right 0px
.slider-simple
	padding: 0 20px
.slider-simple__el
	bg-full()
	padding: 30% 10%

.tooltip
	+below(1200px)
		display: none
	display:inline-block
	position:relative
	text-align:left
	cp()
	margin: 0 5px
	.icon
		size 16px
		fill $green
	&:hover
		.top
			visibility:visible
			opacity:1
	.top
		min-width:240px
		top:-10px
		left:50%
		transform:translate(-50%, -100%)
		padding:10px 20px
		background-color:#EEEEEE
		position:absolute
		z-index:99999999
		box-sizing:border-box
		visibility:hidden
		opacity:0
		transition:opacity 0.8s
		@extend .type--main
		font-weight 400
		line-height: 1.6
		font-size: 12px
		i
			position:absolute
			top:100%
			left:50%
			margin-left:-12px
			width:24px
			height:12px
			overflow:hidden
			&:after
				content:''
				position:absolute
				width:12px
				height:12px
				left:50%
				transform:translate(-50%,-50%) rotate(45deg)
				background-color:#EEEEEE
				box-shadow:0 10px 15px rgba(0, 0, 0, 0.09)

.unit-tech__img
	flex(mid)

.list-toggle
	+above(1025px)
		display: none
	+below(640px)
		margin-bottom: 10px
	flex(mid)
	cp()
	padding: 9px 0
	border 1px solid #e9e9e9
	background-color #ffffff
	width: 100%
	font-weight:600px
	margin-bottom: 20px
	.icon
		size 18px
		margin-right: 20px
.list-toggle__text
	+below(768px)
		font-size: 14px
	up()
	background-color #ffffff
	font-weight:600
.list-toggle--active
	.icon
		fill $green

.sort-toggle
	+above(1025px)
		display: none
	+below(640px)
		margin-bottom: 10px
	flex(mid)
	cp()
	padding: 9px 0
	border 1px solid #e9e9e9
	background-color #ffffff
	width: 100%
	font-weight:600px
	margin-bottom: 20px
	.icon
		size 16px
		margin-right: 20px
.sort-toggle--active
	.icon
		fill $green
.sort-toggle__text
	+below(768px)
		font-size: 14px
	up()
	background-color #ffffff
	font-weight:600

.table
	+below(640px)
		width: 640px
		display: block
		overflow-x: scroll